# Dan Wilson EE Project
# .gitignore file

# If files are added to .gitignore, to remove them out of the repository, use Powershell:
# git ls-files -i -c --exclude-from=.gitignore | %{git rm --cached $_}

# Exclude any directory in the tree labeled .private or Extras
**/.private/
**/.obsidian/
**/KiCAD Project/*-backups/
**/KiCAD Project/#auto_saved_files#
../KiCAD Project/*.lck
